:root {
    --accent: #2196F3;
    --primary-text-color: #212121;
    --tittle-text-p: #757575;
    --white-color: #FFFFFF;
}

/*body*/
body {font-family:'Roboto', sans-serif;
}


/*header*/
/*навігація*/
header {background: #FFFFFF;
}

.logo {
text-decoration: none;
font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.logo-studio {color: #212121;}

.nav {
background: var(--white-color);
}

ul { list-style: none; }

.site-nav .link:hover, .site-nav-link .link:focus {
color:var(--accent);
}

/*не працює активна сторінка*/
.site-nav .link .current {
color: var(--accent);
}

.nav-studio {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color); 
}

.nav-portfolio {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.nav-kontakty {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.mail-header{
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;    
}

.tel-header {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

/*main*/
/*секція рішення*/
.section-order {
background: #2F303A;
}

.section-decision {
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
}

.button-order {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
}

.button {
border:none;
background:var(--accent);
color: var(--white-color);

}

/*наші переваги*/
.advantages-information {
background: #F5F5F5;
}

.test {visibility: hidden
}


.warning {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--primary-text-color);
}

.warning-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.punctuality {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.punctuality-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}

.planning {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.planning-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}

.technologies {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.technologies-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}

.information {
 background: #F5F5F5;
}

/*чим займаємось*/

.work {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.foto-left {
background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
}

.foto-centr {
background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}

.foto-right {
background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}

/*наша команда*/

.team {
    background: #F5F4FA;;
}

.our-team {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.demianenko {
background: url(4853.jpg);
border-radius: 0px;
}

.name-demianenko {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.profession-demianenko {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color:var(--tittle-text-p);
}

.repina {
    font-weight: 500;
background: url(5844.jpg);
border-radius: 0px;
}

.name-repina {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.profession-repina {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}

.tarasov {
background: url(16166.jpg);
border-radius: 0px;
}

.name-tarasov {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.profession-tarasov {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}

.ermakov {
background: url(2968.jpg);
border-radius: 0px;
}

.name-ermakov {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.profession-ermakov { 
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--tittle-text-p); 
}

/*footer*/

.footer {
background: #2F303A;
}
.logo-footer {
text-decoration: none;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent);
}

.logo-studio-footer {
color: #F5F5F5;
}

.adress-footer {
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--white-color);
}

.mail-footer {
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.tel-footer {
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

/*portfolio*/

.main-portfolio {
    background: #F5F5F5;
}

 /*Фільтр*/

.button-filtr {
border:none;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
background: #F5F4FA;
color: var(--primary-text-color);
}


.everyonec-middle {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}


.websites-middle {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.applications-middle {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.design-middle {
font-weight: 500;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.marketing-middle {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--primary-text-color);
    }

    /*фільтр картинки*/
.image-tehnokriak {
 background: url(portfolio1.jpg)
}

.tittle-tehnokriak {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.web-tehnokriak {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}

.image-poster {
background: url(portfolio2.jpg);
}
    
.tittle-poster {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--primary-text-color);
}

.poster-design {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}

.image-seafood {
background: url(portfolio-1.jpg);
}

.tittle-seafood {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.seafood-addition {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--tittle-text-p);
}

.image-prime {
background: url(portfolio-2.jpg);
}

.tittle-prime {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--primary-text-color);
}

.prime-marketing {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}

.image-boxes {
background: url(portfolio5.jpg);
}

.tittle-boxes {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.boxes-addition {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}

.image-inspiratio {
background: url(111.jpg);
}

.tittle-inspiratio {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.web-inspiratio {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--tittle-text-p);
}

.image-limited {
background: url(portfolio7.jpg);
}

.tittle-limited {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--primary-text-color);
}

.design-limited {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}

.image-lab {
background: url(portfolio8.jpg);
}

.tittle-lab {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.lab-marketing {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--tittle-text-p);
}

.image-growing {
background: url(2910404.jpg);
}

.tittle-growing {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.addition-growing {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}