:root {
    --accent: #2196F3;
    --primary-text-color: #212121;
    --text-color-white: #FFFFFF;
    --text-color-gray: #757575;
    --color-accent-hover: #188ce8;
    --main-background-color: #FFFFFF;
    --second-background-color: #2F303A;
    --third-color-background: #F5F4FA;
}

/*body*/
body {
font-family:'Roboto', sans-serif;
font-size: 14px;
line-height: 1.71;
color: var(--main-background-color);
}


/*header*/
/*навігація*/
header {background: var(--main-background-color);
}

.logo {
text-decoration: none;
font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent);
}

.logo-studio {color: var(--primary-text-color);}

.nav {
background: var(--main-background-color);
}

.site-nav .link.current,
.site-nav .link:focus,
.site-nav .link:hover,
.contacts .link:focus,
.contacts .link:hover {
color:var(--accent);
}

ul { list-style: none; }

.nav-studio {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color); 
}

.nav-portfolio {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.nav-kontakty {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.mail-header{
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color-gray);    
}

.tel-header {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color-gray);
}

/*main*/
/*секція рішення*/
.section-order {
background: var(--second-background-color);
}

.section-decision {
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--text-color-white);
}

.button {
font-family: 'Roboto', sans-serif;
border:none;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
/* identical to box height, or 188% */
cursor: pointer;
color: var(--text-color-white);
background: var(--accent);
  }

.button:focus,
.button:hover {
background-color: var(--color-accent-hover);
  }

/*наші переваги*/
.advantages-information {
background: var(--main-background-color);
}

.visually-hidden { position: absolute; white-space: nowrap; width: 0px; height: 0px; overflow: hidden; border: 0;}


.warning {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.warning-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--text-color-gray);
}

.punctuality {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.punctuality-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--text-color-gray);
}

.planning {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.planning-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

.technologies {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.technologies-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

.information {
 background: var(--main-background-color);
}

/*чим займаємось*/

.work {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.foto-left {
background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
}

.foto-centr {
background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}

.foto-right {
background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}

/*наша команда*/

.team {
background:var(--third-color-background);
}

.our-team {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.background-team {
background-color: var(--main-background-color);
}

.demianenko {
background: url(4853.jpg);
border-radius: 0px;
}

.name-demianenko {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.profession-demianenko {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color:var(--tittle-text-p);
}

.repina {
font-weight: 500;
background: url(5844.jpg);
border-radius: 0px;
}

.name-repina {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.profession-repina {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

.tarasov {
background: url(16166.jpg);
border-radius: 0px;
}

.name-tarasov {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.profession-tarasov {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--tittle-text-p);
}

.ermakov {
background: url(2968.jpg);
border-radius: 0px;
}

.name-ermakov {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.profession-ermakov { 
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--text-color-gray); 
}

/*footer*/

.footer {
background: var(--second-background-color);
}
.logo-footer {
text-decoration: none;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent);
}

.logo-studio-footer {
color:var(--text-color-white);
}

.adress-footer {
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color-white);
}

.mail-footer {
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

.tel-footer {
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

/*portfolio*/

.main-portfolio {
    background: var(--main-background-color);
}

 /*Фільтр*/

.button-filtr {
border:none;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
background: #F5F4FA;
color: var(--primary-text-color);
}

.button-filtr.current {
color: var(--text-color-white);
background-color: var(--accent);
}

.button-filtr:focus,
.button-filtr:hover {
color: var(--text-color-white);
background-color: var(--accent);
cursor: pointer;}

    /*фільтр картинки*/
.image-tehnokriak {
 background: url(portfolio1.jpg)
}

.tittle-tehnokriak {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.web-tehnokriak {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

.image-poster {
background: url(portfolio2.jpg);
}
    
.tittle-poster {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--primary-text-color);
}

.poster-design {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

.image-seafood {
background: url(portfolio-1.jpg);
}

.tittle-seafood {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.seafood-addition {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

.image-prime {
background: url(portfolio-2.jpg);
}

.tittle-prime {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.prime-marketing {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

.image-boxes {
background: url(portfolio5.jpg);
}

.tittle-boxes {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.boxes-addition {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

.image-inspiratio {
background: url(111.jpg);
}

.tittle-inspiratio {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.web-inspiratio {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--text-color-gray);
}

.image-limited {
background: url(portfolio7.jpg);
}

.tittle-limited {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.design-limited {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

.image-lab {
background: url(portfolio8.jpg);
}

.tittle-lab {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.lab-marketing {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

.image-growing {
background: url(2910404.jpg);
}

.tittle-growing {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.addition-growing {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color-gray);
}

